<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="app.lawnchair" />
        <package android:name="bitpit.launcher" />
        <package android:name="ch.deletescape.lawnchair" />
        <package android:name="com.actionlauncher.playstore" />
        <package android:name="com.anddoes.launcher" />
        <package android:name="com.samsung.android.goodlock" />
        <package android:name="com.samsung.android.themedesigner" />
        <package android:name="com.spocky.projengmenu" />
        <package android:name="com.teslacoilsw.launcher" />
        <package android:name="ginlemon.flowerfree" />
        <package android:name="net.oneplus.launcher" />
        <package android:name="org.adw.launcher" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyApp.SplashScreen"
        tools:ignore="UnusedAttribute"
        tools:replace="android:fullBackupContent">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="GoogleAppIndexingDeepLinkError,GoogleAppIndexingUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- ADW Launcher -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Apex Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.anddoes.launcher.THEME" />
            </intent-filter>
            <!-- Nova Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.teslacoilsw.launcher.THEME" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER" />
            </intent-filter>
            <!-- Lawnchair -->
            <intent-filter>
                <action android:name="ch.deletescape.lawnchair.ICONPACK" />
                <category android:name="ch.deletescape.lawnchair.PICK_ICON" />
            </intent-filter>
            <!-- Smart Launcher -->
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES" />
                <action android:name="ginlemon.smartlauncher.BUBBLESTYLE" />
                <action android:name="ginlemon.smartlauncher.BUBBLEICONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- OnePlus Launcher -->
            <intent-filter>
                <action android:name="net.oneplus.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- GO Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.gau.go.launcherex.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- LG Home -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lge.launcher2.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Sony Launcher -->
            <intent-filter>
                <action android:name="com.sonymobile.home.ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Projectivy Launcher -->
            <intent-filter>
                <action android:name="com.spocky.projengmenu.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Holo/LauncherPro -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.fede.launcher.THEME_ICONPACK" />
            </intent-filter>
            <!-- Microsoft Launcher -->
            <intent-filter>
                <action android:name="com.microsoft.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Action Launcher -->
            <intent-filter>
                <action android:name="com.actionlauncher.playstore.THEME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- POCO Launcher (Xiaomi) -->
            <intent-filter>
                <action android:name="com.mi.launcher.THEMES" />
                <action android:name="com.miui.home.launcher.action.PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Pixel Launcher / NexusLauncher -->
            <intent-filter>
                <action android:name="com.google.android.apps.nexuslauncher.ACTION_ICON_PACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Niagara reads the generic org.adw.launcher.THEMES channel above; no bespoke filter needed. -->
            <!-- Generic -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="com.fede.launcher.THEME_ICONPACK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LauncherApplyActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apply"
                    android:scheme="iosiconpack" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_providers" />
        </provider>

    </application>
</manifest>
